@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.alert-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    animation: slideIn 0.5s ease-out;
}
.ocontainer {
    background-image: url('https://images5.alphacoders.com/400/400312.jpg'); /* Replace with your image link */
    background-size: 100% auto;
    width: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}